/* CSS declarations go here */
.top-margin {
    margin-top: 70px;
}

.intro {
    font-size: large;
}

.small-print {
    font-size: small;
}

.light-border {
    border: 1px solid gray;
    width: 100%;
}


.table-centered {
  margin: 0 auto !important;
  float: none !important;
}

img.psycho-motor-dev-timeline {
    max-height: 550px;
}

blockquote {
border:none;
font-family:Georgia, "Times New Roman", Times, serif;
margin-bottom:-30px;
position: relative; 
max-width: 600px; 
    margin: 0 auto; 
    padding-left: 0.4em; 
}

blockquote h3 {
    font-size:40px;
}

blockquote h3:before { 
    content: "\201C";
    font-weight: bold;
    font-size:100px;
    color:#889c0b;
    position: absolute; 
    top: -0.2em;
    left: -0.5em; 
    font-family: 'Georgia'; 
} 
blockquote h3:after { 
    content: "\201D";
    font-weight: bold;
    font-size:100px;
    color:#889c0b;
    position: absolute; 
    bottom: -0.6em;
    right: 0; 
    font-family: 'Georgia'; 
}

.child .listlabel {
    color: blue;
    font-weight: bold;
    padding: 10px;
}

.adult .listlabel {
    color: red;
    font-weight: bold;
    padding: 10px;
}